.retour-visiteur h2 {
    color: darkcyan;
}

* {
    font-size: large;
}

/* Le combinateur > permet de cible l'enfant du parent sélectionné, tandis que + l'élément suivant
Dans le cas que j'ai utilisé, .galerie h2 fonctionne aussi */
.galerie > h2 {
    color: rgb(226, 83, 27);
}

/* On peut utiliser plusieurs combinateurs.
Dans cet exemple, on colore les balises em lorsqu'elles suivent directement une balise image
ET qu'elles sont enfant d'une balise de lien.*/
a > img + em {
    color: rgb(172, 105, 60);
}
